---
---

<div class="column column-left">
  <div class="section-title">Legende</div>
  <div class="small-divider"></div>
  <div class="legend-list">
    <div class="legend-item">
      <div class="color-box" style="background-color: #8B0000;"></div>
      <span>5+ zeitungen</span>
    </div>
    <div class="legend-item">
      <div class="color-box" style="background-color: #B22222;"></div>
      <span>4 zeitungen</span>
    </div>
    <div class="legend-item">
      <div class="color-box" style="background-color: #DC143C;"></div>
      <span>3 zeitungen</span>
    </div>
    <div class="legend-item">
      <div class="color-box" style="background-color: #FF4500;"></div>
      <span>2 zeitungen</span>
    </div>
    <div class="legend-item">
      <div class="color-box" style="background-color: #FF7F50;"></div>
      <span>1 zeitung</span>
    </div>
    <div class="legend-item">
      <div class="circle-box"></div>
      <span>Fallstudien</span>
    </div>
  </div>
</div>