---
---

<div class="column">
  <div class="section-title">
    Regionen mit höchster<br>Zeitungsdichte
  </div>
  <div class="small-divider"></div>
  <div class="regions-list">
    <div class="region-item">
      <span class="region-number">1.</span>
      <span class="region-name">München</span>
      <span class="region-value">(5+)</span>
    </div>
    <div class="region-item">
      <span class="region-number">2.</span>
      <span class="region-name">Berlin</span>
      <span class="region-value">(5+)</span>
    </div>
    <div class="region-item">
      <span class="region-number">3.</span>
      <span class="region-name">Hamburg</span>
      <span class="region-value">(4)</span>
    </div>
    <div class="region-item">
      <span class="region-number">4.</span>
      <span class="region-name">Dresden</span>
      <span class="region-value">(3)</span>
    </div>
  </div>
</div>